
RewriteEngine on

# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php
AddHandler application/x-httpd-php56 .php
AddDefaultCharset utf-8

RewriteCond %{HTTP_HOST} ^mivozporlatuya.org$
RewriteRule ^/?$ "http\:\/\/www\.mivozporlatuya\.org\/" [R=301,L]

